/* Chris Coyier Checkbox hack */

.checkbox_item {
    display: block;
    position: relative;
}
.control_box::after {
    content: "";
    font-size: 25px;
    width: 11px;
    height: 11px;
    border: 1px solid var(--grey);
    position: absolute;
    border-radius: 1px;
    top: 0;
    left: 0;
}
.checkbox_item input:checked ~ .control_box::after {
    content: "";
    width: 11px;
    height: 11px;
    background-color: var(--grey);
    position: absolute;
    top: 0;
    left: 0;
}

label {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-left: 3.2rem;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}
