header {
    background-image: url(../images/32d3f354b797b9b45ffbcc07530cfd2cfebead22.png);
    background-repeat: no-repeat;
    height: 108rem;
    background-size: cover;
    background-position: top;
    position: relative;
}

header .header_logo {
    top: 2.3rem;
    left: 2.9rem;
    position: absolute;
}

header .header_text {
    top: 30rem;
    left: 21.4rem;
    position: relative;
    text-align: left;
    font-family: inherit;
    width: 100%;
    max-width: 51rem;
}

header h1 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 7rem;
    padding-bottom: 2.2rem;
}

header p {
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: inherit;
}

header .header_arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8.7rem;
}

main {
    background-image: linear-gradient(to bottom, #171717, #171717 35%, transparent 60%),
        url("../images/996c334b46914bacc3cf4a403b51c4c3e8368be8.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 45%;
    height: auto;
    background-color: var(--dark);
}

main .artists {
    position: relative;
    z-index: 3;
}
main h2 {
    padding-top: 12.9rem;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 6.2rem;
}

main .roles {
    display: flex;
    justify-content: center;
    height: 36.8rem;
    margin: 0 auto;
    background-color: var(--dark);
}

main .roles_artists {
    width: 27.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

main .roles_artists:not(:first-of-type) {
    margin-left: 4.7rem;
}

main .roles_wrapper {
    padding: 1rem;
    width: 100%;
}

main .roles_artists h3 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 3.5rem;
}
main .roles_artists span {
    color: var(--yellow);
    font-size: 1.3rem;
    line-height: 1.5rem;
}

main .roles_artists.musicians {
    background-image: url(../images/d96468a308290d9a8a90936ade2053c8471474e6.png);
}

main .roles_artists.producers {
    background-image: url("../images/6c7bc9f34a4af2ba1b954c914781fc6b0e215aaf.png");
}

main .roles_artists.composers {
    background-image: url("../images/1877a0db7d322d314f71e939c5054f29023aad3f.png");
}

main .roles_artists.agents {
    background-image: url("../images/8e764f5285f568ffca91887795888ae897af38e8.png");
}

main .info {
    margin-top: 11.7rem;
    margin-bottom: 6.3rem;
}

main .info h2 {
    padding-top: 0;
}

main .roles_rights {
    width: 100%;
    max-width: 126.8rem;
    height: 24.2rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

main .roles_rights .rights_wrapper {
    min-height: 24.2rem;
}

main .roles_rights .rights_wrapper .set_a,
main .roles_rights .rights_wrapper .set_b {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .roles_rights .rights_wrapper .set_a {
    padding-bottom: 7rem;
}

main .roles_rights .rights_wrapper .box {
    width: 27%;
}

main .roles_rights .rights_wrapper .box h3 {
    color: var(--yellow);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.34rem;
    margin-bottom: 1.3rem;
}
main .roles_rights .rights_wrapper .box p {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 400;
}
.submissions {
    height: 76.6rem;
    background-image: url("../images/17eb6f570029ff7241aaac10e4d628a25fe936bb.png");
    background-repeat: no-repeat;
    background-color: var(--purple);
    background-size: contain;
}

.submissions .submit_wrapper {
    height: inherit;
}

.submissions .text {
    display: inline-block;
    position: relative;
    left: 21.4rem;
    top: 3.5rem;
}

.submissions .submit_wrapper .text h2 {
    text-align: left;
}

footer {
    height: 8.4rem;
    background-color: var(--dark);
}

footer p {
    padding: 3.4rem;
    display: block;
    margin-left: 34rem;
    font-size: 1.4rem;
    font-weight: 500;
}
